# Build output
/build/
/out/
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Editor / IDE
.vs/
*.user
.vscode/
*.code-workspace

# Scratch / test artifacts
/testpics/
/testrename/
/testmq/
